/* Global styles 
---------------------*/

/* ERROR TESTING 
---------------------*/
/* * {
    border: 1px solid black;
} */

body {
    font-family: 'Averia Libre', cursive;
    margin: 0;
}

.container {
    max-width: 950px;
    margin: 0 auto;
    padding: 25px;
}

h1, h2 {
    font-family: 'Shadows Into Light', cursive;
}

h1 {
    font-size: 60px;
}

h2 {
    font-size: 40px;
    margin-top: 0;
}

a {
    color: #EF233C;
}

a:hover {
    text-decoration: none;
}

/* Header and Footer 
---------------------*/
header, footer {
    background: #2B2D42;
    color: #8D99AE;
}

/* header */
header h1, header h2 {
    color: #EDF2F4;
}

/* footer */
footer {
    text-align: center;
}

.contact-info a {
    padding: 10px;
}

/* Education 
---------------------*/
.education {
    background: #EDF2F4;
}

/* Skills 
---------------------*/
.skills {
    background: #B0E0E6;
}

/* Work Experience 
---------------------*/
.work {
    background: #8D99AE;
}